

h1 {
    color:rgb(138, 0, 119);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 span {
    color: blueviolet;
}

body {
    background: linear-gradient(black,rgb(70, 70, 70));
    height: 1000px;

}